html {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: black;
  text-decoration: none;
}
a:hover, a:active, a:focus, a:focus-within {
  color: #000000;
  text-decoration: none;
}

* {
  font-family: "Roboto";
}

body {
  color: #000000;
  font: normal 100%/1 "Roboto";
}

.header {
  height: 63px;
}
.header__logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-image {
  width: 162px;
}

.header-menu {
  display: flex;
  align-items: center;
  position: relative;
}
.header-menu__back-icon {
  position: absolute;
  left: 20px;
  width: 17px;
  height: 17px;
}

.footer {
  box-sizing: border-box;
  color: white;
  background-color: #353535;
  padding: 25px 25px 15px;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 18px;
  margin: 0 0 25px;
}
.footer__links__icon-and-text {
  display: flex;
  padding: 0;
}
.footer__links__icon-and-text i {
  display: flex;
  align-items: center;
  margin: 0 10px 10px 0;
}
.footer__links__text {
  margin: 0 0 10px;
}
.footer__links a {
  color: white;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 60px 60px 10px;
  }
  .footer__title {
    padding-left: 90px;
  }
  .footer__links {
    display: flex;
  }
  .footer__links__icon-and-text {
    margin-right: 20px;
  }
  .footer__links__text {
    margin-left: 20px;
  }
}

.colored-button {
  color: white;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 20px 15px;
}
.colored-button:active, .colored-button:hover, .colored-button:focus {
  color: white;
  filter: brightness(110%);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.colored-button--menu {
  color: white;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 50px 15px;
}
.colored-button--menu:active, .colored-button--menu:hover, .colored-button--menu:focus {
  color: white;
  filter: brightness(110%);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.fa-stack:hover .heart-full {
  cursor: pointer;
  opacity: 1;
}
.fa-stack:hover .heart-empty {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.heart-full {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #9356DC;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants__section__card {
  position: relative;
  width: 100%;
  height: 251px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .restaurants__section__card {
    width: 45%;
    margin-bottom: 50px;
  }
}
.restaurants__section__card img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants__section__card__content {
  height: 35%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.restaurants__section__card__content__text__title {
  font-size: 18px;
  margin: 20px 15px 10px;
}
.restaurants__section__card__content__text__subtitle {
  font-size: 17px;
  font-weight: 100;
  margin: 0 15px 0px;
}
.restaurants__section__card__content__heart {
  margin-top: 25px;
  margin-right: 15px;
}

.new-rectangle__text {
  position: absolute;
  right: 12px;
  top: 12px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  color: #008766;
  background-color: #99E2D0;
  padding: 10px 15px 10px;
  border-radius: 2px;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.25);
}

.fonctionnement__section__card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: 500;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.1);
}
.fonctionnement__section__card i {
  padding: 20px;
  color: #7e7e7e;
}
.fonctionnement__section__card--purple i {
  color: #9356DC;
}
.fonctionnement__section__card__number {
  display: flex;
  align-items: center;
  padding: 7px;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}
@media (min-width: 768px) {
  .fonctionnement__section__card {
    width: 30%;
    margin-top: 10px;
    margin-right: 20px;
    justify-content: flex-start;
  }
  .fonctionnement__section__card__number {
    position: relative;
    left: -20px;
  }
  .fonctionnement__section__card i {
    padding-left: 0px;
  }
}

.menu-section__card {
  height: 90px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.menu-section__card__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px 0;
}
.menu-section__card__titles__title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 8px;
  margin: 0;
}
.menu-section__card__titles__subtitle {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
.menu-section__card__price {
  display: flex;
  align-self: flex-end;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 700;
}

.search-function {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: inset 1px 6px 10px -10px #353535;
}
.search-function i {
  padding-right: 10px;
}
.search-function input {
  width: 112px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
}
.search-function textarea:active,
.search-function input:focus {
  outline: none;
}
.search-function ::placeholder {
  color: #353535;
}

.website-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-disappear 0s 2.5s forwards;
}
@keyframes loader-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.website-loader__loader-1 {
  width: 130px;
  height: 130px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.website-loader__loader-2 {
  position: absolute;
  width: 84.5px;
  height: 84.5px;
  border-radius: 50%;
  background: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-content {
  animation: main-appear 0s backwards 2.5s;
}

@keyframes main-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fonctionnement {
  padding: 30px 20px 45px;
}
@media (min-width: 768px) {
  .fonctionnement {
    padding: 30px 60px 45px;
  }
  .fonctionnement__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1140px) {
  .fonctionnement {
    padding: 30px 190px 45px;
  }
}

.website-titles {
  padding: 20px 20px 60px;
  background-color: #f6f6f6;
  text-align: center;
}
.website-titles__title {
  line-height: 30px;
  padding: 0 40px 0;
}
.website-titles__subtitle {
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  padding-bottom: 30px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 40px 20px 45px;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px 60px 45px;
  }
}
@media (min-width: 1140px) {
  .restaurants {
    padding: 30px 190px 45px;
  }
}
.restaurants__section {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-menu {
  background-color: #f6f6f6;
}
.main-menu__image {
  object-fit: cover;
  height: 275px;
  width: 100%;
}
@media (min-width: 768px) {
  .main-menu {
    background-color: white;
  }
}

.menu-pages__title {
  position: relative;
  margin-top: -55px;
  display: flex;
  align-items: center;
  padding: 20px 15px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
}
.menu-pages__title__text {
  font-family: "Shrikhand";
  font-size: 28px;
}
.menu-pages__title__heart {
  padding: 0 20px 0 30px;
}
@media (min-width: 768px) {
  .menu-pages {
    margin: 0 60px 0;
    background-color: #f6f6f6;
  }
  .menu-pages__title {
    justify-content: center;
  }
}
@media (min-width: 1140px) {
  .menu-pages {
    margin: 0 190px 0;
  }
}

.menu-section {
  padding: 0 12px 12px;
}
.menu-section__title {
  padding: 10px 0 10px;
  font-weight: 100;
  font-size: 16px;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}
@media (min-width: 768px) {
  .menu-section {
    padding: 10px 200px 10px;
  }
}

.menu__colored-button {
  position: relative;
  padding: 20px 0 45px;
  margin: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .menu__colored-button {
    margin: 0 60px 0;
    background-color: #f6f6f6;
  }
}
@media (min-width: 1140px) {
  .menu__colored-button {
    margin: 0 190px 0;
  }
}