html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: black;
  text-decoration: none;
}
a:hover, a:active, a:focus, a:focus-within {
  color: #000000;
  text-decoration: none;
}

* {
  font-family: "Roboto";
}

body {
  color: #000000;
  font: normal 100%/1 "Roboto";
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 767.98px;
  /* 1 */
  margin-left: 0px;
  /* 2 */
  margin-right: 0px;
  /* 2 */
  padding-left: 0px;
  /* 3 */
  padding-right: 0px;
  /* 3 */
  width: 100%;
  /* 1 */
}

.header {
  height: 63px;
}
.header__logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-image {
  width: 162px;
}

.header-menu {
  display: flex;
  align-items: center;
  position: relative;
}
.header-menu__back-icon {
  position: absolute;
  left: 20px;
  width: 17px;
  height: 17px;
}

.footer {
  box-sizing: border-box;
  color: white;
  background-color: #353535;
  padding: 25px 25px 15px;
}
.footer__title {
  font-family: "Shrikhand";
  font-size: 18px;
  margin: 0 0 25px;
}
.footer__icon-and-text {
  display: flex;
  padding: 0;
}
.footer__icon-and-text i {
  display: flex;
  align-items: center;
  margin: 0 10px 10px 0;
}
.footer__text {
  margin: 0 0 10px;
}
.footer a {
  color: white;
}

.colored-button {
  color: white;
  border-radius: 50px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 20px 15px;
}
.colored-button:active, .colored-button:hover, .colored-button:focus {
  color: white;
  background-image: linear-gradient(rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.9));
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.colored-button--menu {
  color: white;
  border-radius: 50px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 50px 15px;
}
.colored-button--menu:active, .colored-button--menu:hover, .colored-button--menu:focus {
  color: white;
  background-image: linear-gradient(rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.9));
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.menu_section__button {
  height: 90px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 14px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.menu_section__button__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px 0;
}
.menu_section__button__titles__title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 8px;
  margin: 0;
}
.menu_section__button__titles__subtitle {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
.menu_section__button__price {
  display: flex;
  align-self: flex-end;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 700;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 40px 20px 45px;
}
.restaurants__card {
  width: 100%;
  height: 251px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}
.restaurants__card img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants__card__content {
  height: 35%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.restaurants__card__content__text__title {
  font-size: 18px;
  margin: 20px 15px 10px;
}
.restaurants__card__content__text__subtitle {
  font-size: 17px;
  font-weight: 100;
  margin: 0 15px 0px;
}
.restaurants__card i {
  margin-top: 20px;
  padding: 20px;
}

.new-rectangle {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 15px;
  top: -240px;
}
.new-rectangle__text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  color: #008766;
  background-color: #99E2D0;
  padding: 10px 15px 10px;
  border-radius: 2px;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.25);
}

.fonctionnement__card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: 500;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.1);
}
.fonctionnement__card i {
  padding: 20px;
  color: #7e7e7e;
}
.fonctionnement__card--purple i {
  color: #9356DC;
}
.fonctionnement__card__number {
  display: flex;
  align-items: center;
  padding: 7px;
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}

.search-function {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: inset 1px 6px 10px -10px #353535;
}
.search-function i {
  padding-right: 10px;
}
.search-function input {
  width: 112px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
}
.search-function textarea:active,
.search-function input:focus {
  outline: none;
}
.search-function ::placeholder {
  color: #353535;
}

.fonctionnement {
  padding: 30px 20px 45px;
}

.menu__colored-button {
  position: relative;
  padding: 20px 0 45px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.website-titles {
  padding: 20px 20px 60px;
  background-color: #f6f6f6;
  text-align: center;
}
.website-titles__title {
  line-height: 30px;
  padding: 0 40px 0;
}
.website-titles__subtitle {
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  padding-bottom: 30px;
}

.main-menu {
  background-color: #f6f6f6;
}

.menu-pages__images {
  object-fit: cover;
  height: 275px;
  width: 100%;
}
.menu-pages__title {
  position: relative;
  margin-top: -55px;
  display: flex;
  align-items: center;
  padding: 20px 15px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
}
.menu-pages__title__text {
  font-family: "Shrikhand";
  font-size: 28px;
}
.menu-pages__title i {
  padding: 0 20px 0 30px;
}

.menu-section {
  padding: 0 12px 0;
  margin-bottom: 25px;
}
.menu-section__title {
  padding: 10px 0 10px;
  font-weight: 100;
  font-size: 16px;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}