/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: black;
  text-decoration: none;
}
a:hover, a:active, a:focus, a:focus-within {
  color: #000000;
  text-decoration: none;
}

/**
 * Basic typography style for copy text
 */
* {
  font-family: "Roboto";
}

body {
  color: #000000;
  font: normal 100%/1 "Roboto";
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 767.98px;
  /* 1 */
  margin-left: 0px;
  /* 2 */
  margin-right: 0px;
  /* 2 */
  padding-left: 0px;
  /* 3 */
  padding-right: 0px;
  /* 3 */
  width: 100%;
  /* 1 */
}

.header {
  height: 113px;
}
.header__logo {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-image {
  width: 162px;
}
.header__search-function {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: inset 1px 6px 10px -10px #353535;
}
.header__search-function i {
  padding-right: 10px;
}
.header__search-function input {
  width: 112px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
}
.header__search-function textarea:active,
.header input:focus {
  outline: none;
}
.header ::placeholder {
  color: #353535;
}

.footer {
  box-sizing: border-box;
  color: white;
  background-color: #353535;
  padding: 25px 25px 15px;
}
.footer__title {
  font-family: "Shrikhand";
  margin: 0 0 25px;
}
.footer__icon-and-text {
  display: flex;
  padding: 0;
}
.footer__icon-and-text i {
  display: flex;
  align-items: center;
  margin: 0 10px 10px 0;
}
.footer__text {
  margin: 0 0 10px;
}

.restaurants {
  background-color: #EAEAEA;
  padding: 10px;
}

.card {
  width: 90%;
  height: 251px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content__text__title {
  font-size: 18px;
  margin: 20px 15px 10px;
}
.card__content__text__subtitle {
  font-size: 17px;
  font-weight: 100;
  margin: 0 15px 0px;
}
.card i {
  padding: 20px;
}

.fonctionnement {
  display: flex;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 10px;
}

.card {
  width: 90%;
  height: 251px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card__content {
  height: 35%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.card__content__text__title {
  font-size: 18px;
  margin: 0px 15px 10px;
}
.card__content__text__subtitle {
  font-size: 17px;
  font-weight: 100;
  margin: 0 15px 0px;
}
.card i {
  padding: 20px;
}