/// Base

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: black;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}