/// Header

.header {
    height: 63px;

    &__logo {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-image {
        width: 162px;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    position: relative;

    &__back-icon {
        position: absolute;
        left: 20px;
        width: 17px;
        height: 17px;
    }
}