/// Homepage - Sections properties
.fonctionnement {
    padding: 30px 20px 45px;

    @media (min-width: 768px) {
        padding: 30px 60px 45px;

        &__section {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    @media (min-width: 1140px) {
        padding: 30px 190px 45px;
    }
}

.menu__colored-button {
    position: relative;
    padding: 20px 0 45px;
    margin: 0;
    display: flex;
    justify-content: center;
}

/// Homepage - Website titles

.website-titles {
    padding: 20px 20px 60px;
    background-color: $light-grey;
    text-align: center;

    &__title {
        line-height: 30px;
        padding: 0 40px 0;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 100;
        line-height: 20px;
        padding-bottom: 30px;
    }
}