/// Properties of the menu pages sections

/// Main

.main-menu {
    background-color: $light-grey;
}

/// Restaurant title

.menu-pages {
    &__images {
        object-fit: cover;
        height: 275px;
        width: 100%;
    }

    &__title {
        position: relative;
        margin-top: -55px;
        display: flex;
        align-items: center;
        padding: 20px 15px 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $light-grey;

        &__text {
            font-family: 'Shrikhand';
            font-size: 28px;
        }

        i {
            padding: 0 20px 0 30px;
        }
    }
}

/// Menu

.menu-section {
    padding: 0 12px 0;
    margin-bottom: 25px;

    &__title {
        padding: 10px 0 10px;
        font-weight: 100;
        font-size: 16px;
        border-bottom: solid 3px $tertiary-color;
        width: 40px;
    }
}

/// Order button

.menu__colored-button {
    position: relative;
    padding: 20px 0 45px;
    margin: 0;
    display: flex;
    justify-content: center;
}